<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>header/res/board_club_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1870},{133,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,27}</string>
			</dict>
			<key>header/res/board_coin_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,1860},{248,44}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,63}</string>
			</dict>
			<key>header/res/board_coin_blue_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2018},{148,29}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,44}</string>
			</dict>
			<key>header/res/board_coin_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1860},{248,44}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,63}</string>
			</dict>
			<key>header/res/board_coin_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,1906},{248,44}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,63}</string>
			</dict>
			<key>header/res/board_coin_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1906},{232,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,46}</string>
			</dict>
			<key>header/res/board_diamond_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1896},{130,44}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,63}</string>
			</dict>
			<key>header/res/board_diamond_blue_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,2013},{78,29}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,44}</string>
			</dict>
			<key>header/res/board_diamond_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1954},{130,44}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,63}</string>
			</dict>
			<key>header/res/board_diamond_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,1954},{130,44}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,63}</string>
			</dict>
			<key>header/res/board_diamond_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1973},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>header/res/board_header_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{1560,75}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1560,126}</string>
			</dict>
			<key>header/res/board_header_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1563},{1560,75}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1560,79}</string>
			</dict>
			<key>header/res/board_header_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1640},{1560,75}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1560,79}</string>
			</dict>
			<key>header/res/board_header_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1717},{1560,75}}</string>
				<key>offset</key>
				<string>{0,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1560,126}</string>
			</dict>
			<key>header/res/board_progress_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1913},{199,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,30}</string>
			</dict>
			<key>header/res/board_progress_blue_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1870},{160,31}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,42}</string>
			</dict>
			<key>header/res/board_progress_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1870},{170,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,42}</string>
			</dict>
			<key>header/res/board_progress_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1870},{170,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,42}</string>
			</dict>
			<key>header/res/board_progress_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1913},{169,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,30}</string>
			</dict>
			<key>header/res/btn_back_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,550},{59,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_blue_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,568},{59,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_blue_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,611},{59,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_blue_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,611},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>header/res/btn_back_blue_v_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,668},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>header/res/btn_back_blue_v_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,725},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>header/res/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,688},{57,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_more_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,731},{57,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_more_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1988,900},{55,55}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>header/res/btn_more_v_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,908},{55,55}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>header/res/btn_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1952},{158,64}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>header/res/btn_sale_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1945},{158,64}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>header/res/btn_sale_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,1962},{98,48}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,56}</string>
			</dict>
			<key>header/res/btn_sale_v_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,1},{98,48}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,56}</string>
			</dict>
			<key>header/res/btn_setting_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,747},{57,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_setting_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1988,782},{57,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_setting_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,385},{62,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_store.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1794},{317,64}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,69}</string>
			</dict>
			<key>header/res/btn_store_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,1794},{317,64}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,69}</string>
			</dict>
			<key>header/res/btn_store_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1945},{158,64}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>header/res/btn_store_s_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1870},{158,64}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,69}</string>
			</dict>
			<key>header/res/btn_store_s_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,1},{98,48}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,56}</string>
			</dict>
			<key>header/res/btn_store_s_v_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,51},{98,48}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,56}</string>
			</dict>
			<key>header/res/btn_store_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1913},{198,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,56}</string>
			</dict>
			<key>header/res/btn_store_v_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1963},{198,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,56}</string>
			</dict>
			<key>header/res/hall_feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,2000},{53,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>header/res/header_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,672},{57,58}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/header_back_btn_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1896},{84,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>header/res/header_back_btn_big_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,1962},{84,66}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>header/res/header_feedback_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,550},{58,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,53}</string>
			</dict>
			<key>header/res/header_feedback_icon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,171},{68,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,62}</string>
			</dict>
			<key>header/res/header_hot_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1736,1962},{98,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,63}</string>
			</dict>
			<key>header/res/header_hot_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,101},{90,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,49}</string>
			</dict>
			<key>header/res/icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1973},{43,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>header/res/icon_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,101},{37,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>header/res/icon_exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,2000},{44,45}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>header/res/level_boom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,1906},{197,54}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,62}</string>
			</dict>
			<key>header/res/level_boom_bg_in_theme.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1923},{177,48}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,56}</string>
			</dict>
			<key>header/res/multi_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1913},{77,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,22}</string>
			</dict>
			<key>header/res/portrait_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,101},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>header/res/portrait_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1929},{56,55}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/premium_header_ingots_frame_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,1952},{130,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,50}</string>
			</dict>
			<key>header/res/progress_bar_club_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1987},{123,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,15}</string>
			</dict>
			<key>header/res/progress_bar_club_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,2030},{123,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,15}</string>
			</dict>
			<key>header/res/progress_bar_exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,2018},{163,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,24}</string>
			</dict>
			<key>header/res/store_timed_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,2000},{47,47}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>header/res/tip_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,2013},{31,33}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>header/res/V_header_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,180}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,193}</string>
			</dict>
			<key>header/res/V_header_bg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1794},{960,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,74}</string>
			</dict>
			<key>header/res/V_header_coins_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,2011},{152,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,31}</string>
			</dict>
			<key>header/res/V_header_feedback_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,2004},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>
			<key>header/res/V_header_feedback_icon_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,2004},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>
			<key>header/res/btn_setting_club_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,790},{57,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_setting_purple_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,806},{57,57}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_setting_red_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1934,427},{62,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,193},{63,62}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_club_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,235},{63,62}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_club_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,257},{63,62}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1988,841},{57,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_back_purple_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1929,849},{57,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_back_purple_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,865},{57,57}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>header/res/btn_back_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,299},{63,62}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_red_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,321},{63,62}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/btn_back_red_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,363},{63,62}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>header/res/cat_bottom_golden.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,448},{61,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>header/res/cat_bottom_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,490},{61,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>header/res/cat_bottom_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,508},{61,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>header/res/cat_ribbon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,2000},{102,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>header/res/cat_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,629},{59,57}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>header/res/level_rush_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1870},{192,51}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,51}</string>
			</dict>
			<key>header/res/level_rush_bg_in_theme.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1860},{222,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,51}</string>
			</dict>
			<key>header/res/progress_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1903},{163,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,24}</string>
			</dict>
			<key>header/res/progress_bar_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1870},{163,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,24}</string>
			</dict>
			<key>header/res/progress_bar_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,2011},{154,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,28}</string>
			</dict>
			<key>header/res/vip_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,1952},{87,91}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,116}</string>
			</dict>
			<key>header/res/icon_exp_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,2004},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>header.png</string>
			<key>realTextureFileName</key>
			<string>header.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>