<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>footer/footer/daily_mission/bg_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{234,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,165}</string>
			</dict>
			<key>footer/footer/daily_mission/bg_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1181},{234,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,165}</string>
			</dict>
			<key>footer/footer/daily_mission/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1262},{190,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,54}</string>
			</dict>
			<key>footer/footer/daily_mission/btn_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1066},{194,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,57}</string>
			</dict>
			<key>footer/footer/daily_mission/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1136},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>footer/footer/board_bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1546},{289,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,88}</string>
			</dict>
			<key>footer/footer/board_bet_back_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,225},{224,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,50}</string>
			</dict>
			<key>footer/footer/btn_bet_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,906},{50,76}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>footer/footer/btn_bet_down_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,1036},{50,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>footer/footer/btn_bet_down_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,958},{50,76}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>footer/footer/btn_bet_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,949},{50,76}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>footer/footer/btn_bet_up_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1105},{50,74}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>footer/footer/btn_bet_up_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1027},{50,76}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>footer/footer/btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1924},{249,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,88}</string>
			</dict>
			<key>footer/footer/btn_spin_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1475},{249,85}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,88}</string>
			</dict>
			<key>footer/footer/btn_spin_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1925},{249,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,91}</string>
			</dict>
			<key>footer/footer/cash_back_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,612},{270,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,147}</string>
			</dict>
			<key>footer/footer/club_cash_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,884},{90,81}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>footer/footer/club_cash_back_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,2018},{76,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,20}</string>
			</dict>
			<key>footer/footer/dm_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,967},{85,84}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>footer/footer/dm_lock_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1283},{102,101}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,104}</string>
			</dict>
			<key>footer/footer/footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{1560,91}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1560,119}</string>
			</dict>
			<key>footer/footer/footer_spin_countdown_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,2018},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>footer/footer/spin_count_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,918},{112,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,40}</string>
			</dict>
			<key>footer/footer/spin_time_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,451},{164,40}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,50}</string>
			</dict>
			<key>footer/footer/spin_time_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,586},{164,40}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,50}</string>
			</dict>
			<key>footer/footer/spin_time_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,617},{164,40}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,50}</string>
			</dict>
			<key>footer/footer/spin_time_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,752},{164,40}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,50}</string>
			</dict>
			<key>footer/footer/spin_time_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1563},{197,360}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,370}</string>
			</dict>
			<key>footer/footer/spin_time_infinity.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,783},{164,38}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,50}</string>
			</dict>
			<key>footer/footer/V_footer_bet_add_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1454},{114,42}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>footer/footer/V_footer_bet_add_btn_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,906},{114,41}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>footer/footer/V_footer_bet_add_btn_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1546},{114,42}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>footer/footer/V_footer_bet_sub_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,949},{115,42}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>footer/footer/V_footer_bet_sub_btn_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,906},{115,41}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>footer/footer/V_footer_bet_sub_btn_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1662},{114,42}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,50}</string>
			</dict>
			<key>footer/footer/V_footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,222}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,238}</string>
			</dict>
			<key>footer/footer/wallet.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,302},{75,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,74}</string>
			</dict>
			<key>footer/footer/wallet_countdown_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2018},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>footer/footer/wallet_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,2013},{33,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,45}</string>
			</dict>
			<key>footer/footer/max_bet_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1563},{359,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,168}</string>
			</dict>
			<key>footer/footer/max_bet_tip_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,225},{359,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,168}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/progress_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,370},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{89,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,109}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/sun.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,316},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/tip_board_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,973},{234,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,130}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/tip_board_1_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1209},{234,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,130}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/tip_board_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,612},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>
			<key>footer/footer/daily_mission/flame/tip_board_2_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,612},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>
			<key>footer/footer/dm/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1185},{96,126}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,130}</string>
			</dict>
			<key>footer/footer/dm/bg_dark_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1445},{99,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,130}</string>
			</dict>
			<key>footer/footer/dm/bg_flame.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1445},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>footer/footer/dm/bg_light_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1053},{81,81}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,130}</string>
			</dict>
			<key>footer/footer/dm/flame_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,365},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>footer/footer/dm/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,316},{47,55}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,61}</string>
			</dict>
			<key>footer/footer/dm/progress_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,225},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>footer/footer/dm/progress_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,225},{75,75}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>footer/footer/dm/tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,225},{385,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,128}</string>
			</dict>
			<key>footer/footer/dm/tip_bg_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,586},{385,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,128}</string>
			</dict>
			<key>footer/footer/dm/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,906},{72,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,59}</string>
			</dict>
			<key>footer/challenges_finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,225},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>footer/dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1112},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>footer/JD_T.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,306},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>footer/red_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,368},{46,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,55}</string>
			</dict>
			<key>footer/paytable/back_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1387},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>
			<key>footer/paytable/back_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1387},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>
			<key>footer/paytable/backtogame_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1338},{304,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,69}</string>
			</dict>
			<key>footer/paytable/backtogame_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1032},{304,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,69}</string>
			</dict>
			<key>footer/paytable/next_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1283},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>
			<key>footer/paytable/next_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,316},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>
			<key>footer/footer/btn_spin_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1224},{249,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,88}</string>
			</dict>
			<key>footer/footer/btn_spin_red_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1445},{249,84}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,88}</string>
			</dict>
			<key>footer/footer/btn_spin_red_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,973},{249,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_footer.png</string>
			<key>realTextureFileName</key>
			<string>game_footer.png</string>
			<key>size</key>
			<string>{815,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>815</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>